.projectOuter {
  padding: 0px 15% 200px;
}
.projectContainer {
  margin-top: 50px;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: center;
}
@media (max-width: 600px) {
  .projectContainer {
    grid-template-columns: 1fr;
  }
}
