.projectOuter {
  padding: 0px 15% 200px;
}
.projectContainer {
  margin-top: 50px;
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;*/
  gap: 30px; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
