* {
  user-select: none;
  font-family: "BBH Sans Bartle", sans-serif;
}
.heroContainer {
  display: flex;
  align-items: center;
  padding: 30px 15% 20px;
  justify-content: space-between;
  gap: 10px;
}
.typingHeading {
  font-family: "BBH Sans Bartle", sans-serif;
  color: var(--heading-color);
  font-weight: 900;
  font-size: 4rem;
  /* line-height: 120px; */
}
.typingBody1 {
  font-size: 2rem;
  color: var(--heading-color);
  margin-top: 60px;
}
.typingBody2 {
  font-size: 2rem;
  color: var(--heading-color);
  margin-top: 10px;
}
.heroImg img {
  display: flex;
  align-items: center;
  width: 100%;
}
.heroImgSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.heroTextSection {
  width: 71%;
  display: flex;
  flex-direction: column;
}
.heroText p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  color: rgb(139, 139, 139);
  letter-spacing: 3px;
  font-weight: 400;
  line-height: 25px;
}
